/**
 * Animations
 */

// Dependencies
@import '../core/utility.mixins';

// Declarations
$animations: (
  transition-delay: (
    (td-1s, 1s),
    (td-1_25s, 1.25s),
    (td-1_5s, 1.5s),
    (td-1_75s, 1.75s),
    (td-2s, 2s),
    (td-2_25s, 2.25s),
    (td-2_5s, 2.5s),
    (td-2_75s, 2.75s),
    (td-3s, 3s),
    (td-3_25s, 3.25s),
    (td-3_5s, 3.5s),
    (td-3_75s, 3.75s),
    (td-4s, 4s),
    (td-4_25s, 4.25s),
    (td-4_5s, 4.5s),
    (td-4_75s, 4.75s)
  ),
  animation-delay: (
    (ad-1s, 1s),
    (ad-1_25s, 1.25s),
    (ad-1_5s, 1.5s),
    (ad-1_75s, 1.75s),
    (ad-2s, 2s),
    (ad-2_25s, 2.25s),
    (ad-2_5s, 2.5s),
    (ad-2_75s, 2.75s),
    (ad-3s, 3s),
    (ad-3_25s, 3.25s),
    (ad-3_5s, 3.5s),
    (ad-3_75s, 3.75s),
    (ad-4s, 4s),
    (ad-4_25s, 4.25s),
    (ad-4_5s, 4.5s),
    (ad-4_75s, 4.75s)
  )
);

@include make-utilities($animations, ());