/**
 * Borders
 */

// Dependencies
@import '../core/utility.mixins';

// Declarations
.b {
  border-width: 1px;
  border-style: solid
}

.bt {
  border-top-width: 1px;
  border-top-style: solid
}

.bb {
  border-bottom-width: 1px;
  border-bottom-style: solid
}

.bl {
  border-left-width: 1px;
  border-left-style: solid
}

.br {
  border-right-width: 1px;
  border-right-style: solid
}

.bs-solid {
  border-style: solid;
}

$border: (
  border-width: (
    (bw-0, 0px),
    (bw-1, 1px),
    (bw-2, 2px),
    (bw-3, 3px),
    (bw-4, 4px),
    (bw-8, 8px),
    (bw-16, 16px),
    (bw-24, 24px)
  ),
  border-top-width: (
    (btw-0, 0px),
    (btw-1, 1px),
    (btw-2, 2px),
    (btw-3, 3px),
    (btw-4, 4px),
    (btw-8, 8px),
    (btw-16, 16px),
    (btw-24, 24px)
  ),
  border-left-width: (
    (blw-0, 0px),
    (blw-1, 1px),
    (blw-2, 2px),
    (blw-3, 3px),
    (blw-4, 4px),
    (blw-8, 8px),
    (blw-16, 16px),
    (blw-24, 24px)
  ),
  border-bottom-width: (
    (bbw-0, 0px),
    (bbw-1, 1px),
    (bbw-2, 2px),
    (bbw-3, 3px),
    (bbw-4, 4px),
    (bbw-8, 8px),
    (bbw-16, 16px),
    (bbw-24, 24px)
  ),
  border-right-width: (
    (brw-0, 0px),
    (brw-1, 1px),
    (brw-2, 2px),
    (brw-3, 3px),
    (brw-4, 4px),
    (brw-8, 8px),
    (brw-16, 16px),
    (brw-24, 24px)
  )
);

@include make-utilities($border);
