/**
 * Buttons
 */

// Dependencies
@import '../core/fonts.vars';
@import '../core/fonts.mixins';


// Declarations
.btn {
  @include all-caps;
  @include font-aliased;

  font-size: $font-size-base;
  line-height: $font-size-base;

  background: transparent;

  max-width: 100%;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 19px 40px 19px;
  border: 1px solid;
  border-radius: 0px;
  vertical-align: inherit;
  cursor: pointer;
  box-sizing: border-box;

  text-overflow: ellipsis;
  overflow: hidden
}

.btn:disabled {
  opacity: 0.5
}