/**
 * Dimensions
 */

// Dependencies
@import '../core/utility.mixins';

// Declarations
.w-100p {
  width: 100%;
}

.wh-100p {
  width: 100%;
  height: 100%
}

$dimensions: (
  height: (
    (h-100p, 100%),
    (h-25vh, 25vh),
    (h-33vh, 33.33vh),
    (h-50vh, 50vh),
    (h-66vh, 66.66vh),
    (h-75vh, 75vh),
    (h-100vh, 100vh),
    (h-125vh, 125vh),
    (h-100vh, 100vh),
  ),
  min-height: (
    (mh-25vh, 25vh),
    (mh-33vh, 33.33vh),
    (mh-50vh, 50vh),
    (mh-66vh, 66.66vh),
    (mh-75vh, 75vh),
    (mh-100vh, 100vh),
    (mh-125vh, 125vh),
    (mh-100vh, 100vh),
  )
);

@include make-utilities($dimensions);
