/**
 * Display
 */

// Dependencies
@import '../core/utility.mixins';
@import '../core/spacing.vars';
@import '../core/display.mixins';

// Declarations
.hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.o-hidden {
  overflow: hidden
}

.o-scroll {
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

// Create flexbox grow for the grid system
@for $flex-column-index from 1 through $spacing-columns {

  .f-#{$flex-column-index} {
    flex: $flex-column-index
  }

}

.o--1 {
  order: -1
}

$display: (
  box-sizing: (
    (bs-border-box, border-box),
    (bs-content-box, content-box)
  ),
  display: (
    (d-flex, flex),
    (d-table, table),
    (d-inline-block, inline-block),
    (d-inline-flex, inline-flex),
    (d-inline-grid, inline-grid),
    (d-inline-table, inline-table),
    (d-block, block),
    (d-inline, inline),
    (d-none, none)
  ),
  justify-content: (
    (jc-start, flex-start),
    (jc-end, flex-end),
    (jc-center, center)
  ),
  align-items: (
    (ai-start, flex-start),
    (ai-end, flex-end),
    (ai-center, center),
    (ai-stretch, stretch),
    (ai-baseline, baseline)
  ),
  flex-direction: (
    (fd-column, column),
    (fd-column-reverse, column-reverse),
    (fd-row, row),
    (fd-row-reverse, row-reverse)
  )
);

@include make-utilities($display);