/**
 * Fonts
 */

// Dependencies
@import '../core/utility.mixins';
@import '../core/fonts.mixins';

// Declarations
.f-smooth {
  @include font-smooth
}

.f-aliased {
  @include font-aliased
}

.ff-system {
  @include font-system
}

.ff-bold {
  font-family: $font-bold
}

$fonts: (
  font-weight: (
    (fw-normal, normal),
    (fw-bold, bold)
  ),
  font-style: (
    (fs-italic, italic),
    (fs-normal, normal)
  )
);

@include make-utilities($fonts, ());


