/**
 * Position
 */

// Dependencies
@import '../core/position.mixins';

// Declarations
@include position();

.top {
  top: 0px
}

.bottom {
  bottom: 0px
}

.left {
  left: 0px
}

.right {
  right: 0px
}

.m-auto {
  margin-left: auto;
  margin-right: auto
}

