/**
 * SVG
 */

// Dependencies
// @import ...;

// Declarations
.sw-1px {
  stroke-width: 1px
}

.sw-2px {
  stroke-width: 2px
}

.sw-3px {
  stroke-width: 3px
}

.slj-round {
  stroke-linejoin: round
}

.slc-square {
  stroke-linecap: square
}