/**
 * Tables
 */

// Dependencies
@import '../core/grid.vars';

// Declarations
.table td {
  padding: ($grid-base * 0.5) $grid-base;
  vertical-align: top;
  &:first-of-type {
    padding-left: 0;
  }
  &:last-of-type {
    padding-right: 0;
  }
}

.table-2 td {
  padding: ($grid-base*1.5) $grid-base*2;
  vertical-align: top;
  &:first-of-type {
    padding-left: 0;
  }
  &:last-of-type {
    padding-right: 0;
  }
}

.table-3 td {
  padding: ($grid-base*2.5) $grid-base*3;
  vertical-align: top;
  &:first-of-type {
    padding-left: 0;
  }
  &:last-of-type {
    padding-right: 0;
  }
}