//
// Mixins
//

// Dependencies
@import 'fonts.vars';

// Mixins
@mixin font-face($name, $file, $style, $weight, $range : false) {
  font-family: $name;
  src: url($file + '.eot');
  src: url($file + '.eot?#iefix') format('embedded-opentype'),
       url($file + '.woff') format('woff'),
       url($file + '.ttf') format('truetype');
  font-style: $style;
  font-weight: $weight;
  @if $range {
    unicode-range: $range;
  }
}

@mixin font-smooth() {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

@mixin font-aliased() {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto
}

@mixin font-system() {
  font-family: $font-system
}

@mixin regular-caps() {
  font-family: $font-family;
  text-transform: none;
  letter-spacing: 0;
}

@mixin all-caps() {
  font-family: $font-bold;
  text-transform: uppercase;
  letter-spacing: 0.03em
}