/**
 * Forms
 */

// Dependencies
@import 'fonts.mixins';

// Declarations
button, input, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: middle;
  text-overflow: ellipsis;
  border: none;
  box-sizing: border-box;
  border-radius: 0;
  -webkit-appearance: none;
  @include font-smooth
}

input[placeholder] {
  text-overflow: ellipsis
}

::-moz-placeholder {
  text-overflow: ellipsis
}

input:-moz-placeholder {
  text-overflow: ellipsis
}

button, input {
  line-height: normal
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0
}

button,
input[type='reset'],
input[type='submit']
html input[type='button'] {
  -webkit-appearance: button;
              cursor: pointer
}

select, button,
input[type='button'],
input[type='reset'],
input[type='submit'],
input[type='radio'],
input[type='checkbox'] {
  cursor: pointer
}

input[type='search'] {
  box-sizing: content-box;
  -webkit-appearance: textfield
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  height: auto;
  max-width: 100%;
  box-sizing: border-box
}

fieldset {
  border: none
}
