//
// Mixins
//

// Dependencies
// @import '..';

// Mixins
@mixin position($variant: '') {

  .p-static#{$variant} {
    position: static !important
  }

  .p-relative#{$variant} {
    position: relative !important
  }

  .p-absolute#{$variant} {
    position: absolute !important
  }

  .p-fixed#{$variant} {
    position: fixed !important
  }

}