//
// Mixins
//

@mixin make-gutters($base, $namespace, $attribute, $multiplier_local: false, $breakpoint: '') {

  $m: $multiplier_local;

  @while $m > 0 {

    $variant: $breakpoint;

    @if $m != 1 {
      $variant: '-' + $m + $breakpoint;
    }

    $val: $base * $m;

    .#{$namespace}#{$variant} {
      #{$attribute}: $val !important
    }

    .#{$namespace}t#{$variant} {
      #{$attribute}-top: $val !important
    }

    .#{$namespace}r#{$variant} {
      #{$attribute}-right: $val !important
    }

    .#{$namespace}b#{$variant} {
      #{$attribute}-bottom: $val !important
    }

    .#{$namespace}l#{$variant} {
      #{$attribute}-left: $val !important
    }

    .#{$namespace}lr#{$variant} {
      #{$attribute}-left: $val !important;
      #{$attribute}-right: $val !important
    }

    .#{$namespace}tb#{$variant} {
      #{$attribute}-top: $val !important;
      #{$attribute}-bottom: $val !important
    }

    $m: $m - 1;

  }

  .#{$namespace}-0#{$breakpoint} {
    #{$attribute}: 0 !important
  }

}