/**
 * Transitions
 */

// Dependencies
// @import '..';

// Declarations
a, a:after, input, .btn, textarea, select, .o-modal, path, rect, .c-checkbox__input {
  transition-property: opacity, background, color, border, box-shadow, outline, transform, stroke, stroke-dashoffset;
  transition-duration: 0.15s;
  backface-visibility: hidden;
}