//
// Mixins
//

// Dependencies
@import 'vars';

// Mixins
@mixin make-utilities($attributes, $breakpoints: map-get($vars, 'media')) {

  @each $attribute, $declaration in $attributes {
    // @debug $declaration;
    @each $utility in $declaration {
      // @debug $utility;

      $namespace: nth($utility, 1);
      $value: nth($utility, 2);

      .#{$namespace} {
        #{$attribute}: $value
      }

      @each $breakpoint, $width in $breakpoints {
        @media only screen and (min-width: $width + 'px') {

          $state: '\\@media-' + $breakpoint;

          .#{$namespace}#{$state} {
            #{$attribute}: $value
          }

        }
      }

    }
  }

}