/**
 * Nearby-stops
 */

// Dependencies
@import 'config/dimensions';
@import 'config/fonts';
@import 'config/media';

// Declarations
.c-nearby-stops { }

.c-nearby-stops__stop {
  margin-bottom: $grid-base;
  display: block;

  @media screen and (min-width: $screen-mobile) {
    display: flex;
    align-items: center;
  }
}

.c-nearby-stops__subway {
  margin-right: $grid-base / 2;
}

.c-nearby-stops__description {
  font-size: $font-size-small;
  display: block;
  margin-top: $grid-base / 2;

  @media screen and (min-width: $screen-mobile) {
    margin-left: auto;
    margin-top: 0;
  }
}

a.c-nearby-stops__stop {
  text-decoration: none;
}

a .c-nearby-stops__description {
  text-decoration: underline;
}