/**
 * Code
 */

// Dependencies
@import 'config/colors';

// Declarations
code, pre {
  font-size: .727em;
  font-family: monospace;
}

.code {
  color: $color-pink;
  background-color: $color-grey-lightest;
  display: inline-block;
  border: 1px solid $color-grey-light;
  padding: 8px 16px;
  border-radius: 3px;
}

pre.code {
  display: block;
  padding: 16px 16px;
}