/**
 * Code
 */

// Dependencies
@import 'config/colors';
@import 'config/fonts';
@import 'elements/typography/typography.mixins';

// Declarations
code, pre {
  display: inline-block;
}

.code,
.code-block {
  font-weight: $font-weight-normal;
  font-size: $font-size-small;
  line-height: 1.3;
  font-family: monospace;

  background-color: $color-grey-lightest;
  border: 1px solid $color-grey-light;
  border-radius: 3px;
}

.code {
  color: $color-purple;
  padding: 8px 16px;
  display: inline-block;
  overflow: initial;
  line-height: inherit;
  max-width: 100%;
  text-overflow: ellipsis;
}

.code-block {
  color: $color-pink;
  display: inline-block;
  display: block;
  max-width: 100%;
  overflow-y: auto;
  pre {
    padding: 16px 16px;
  }
}
