/**
 * Badges
 */

// Dependencies
@import 'canyc/badge';
@import 'canyc/dimensions';
@import 'canyc/typography';

// Declarations
.badge {
  font-size: 90%;
  line-height: inherit;

  border-radius: $label-radius;
  display: inline;
  font-weight: bold;

  padding: $label-padding;
  text-transform: capitalize;
}
