/**
 * Banner
 */

// Dependencies
@import 'config/fonts';

// Declarations
// .o-banner { }
.o-banner {
  background: $color-blue-dark;
  color: $color-white;
  padding: $spacing-base;
  @include font-smooth;
}

.o-banner__inner {
  margin: auto;
  max-width: $homepage-max-width;
}

.o-banner__title {
  border-bottom: 1px solid $color-white;
  color: $color-white;
  margin-bottom: 1.5*$spacing-base;
  padding-bottom: 1.5*$spacing-base;
  position: relative;

  &::after {
    @include size(130px 5px);
    #{$text-direction-start}: 0;
    content: '';
    bottom: -3px;
    background: $color-yellow-access;
    display: block;
    position: absolute;
  }
}

.o-banner__touts {
  @include media($bp-tablet-up) {
    display: flex;
  }
}

.o-banner__tout {
  margin-bottom: $spacing-base;

  @include media($bp-tablet-up) {
    display: flex;
    flex-direction: column;
    padding-#{$text-direction-end}: $spacing-base;
    width: 50%;
  }
}

.o-banner__tout-title {
  color: $color-white;
}

.o-banner__tout-body {
  @include media($bp-tablet-up) {
    flex: 1 1 auto;
  }
}

// .o-banner__tout-cta {
//   .btn {
//     min-height: 60px;
//     line-height: 30px;
//   }
// }
