<nav class="screen-tablet:flex-1 mb-1 px-2">
  <a class="type-h3 text-font-size-small mb-1 block screen-tablet:border-b screen-tablet:pb-2 screen-tablet:mb-1 border-color-white p-1" href="index">Home</a>
  <a class="block p-1" href="about">About</a>
  <a class="block p-1" href="installation">Installation</a>
  <a class="block p-1" href="design-tools">Design Tools</a>
  <a class="block p-1 screen-tablet:border-b screen-tablet:pb-2 screen-tablet:mb-1 border-color-white p-1" href="developer-tools">Developer Tools</a>
  <a class="block p-1" href="https://www.npmjs.com/package/access-nyc-patterns">NPM</a>
  <a class="block p-1" href="https://github.com/CityOfNewYork/access-nyc-patterns">GitHub</a>
</nav>
<nav class="screen-tablet:flex-1 mb-1 px-2 screen-desktop:pl-4">
  <span class="type-h3 text-font-size-small mb-1 block screen-tablet:border-b screen-tablet:pb-2 screen-tablet:mb-1 border-color-white p-1">Elements</span>
  <a class="block p-1" href="buttons">Buttons</a>
  <a class="block p-1" href="checkboxes">Checkboxes</a>
  <a class="block p-1" href="dividers">Dividers</a>
  <a class="block p-1" href="inputs">Inputs</a>
  <a class="block p-1" href="layouts">Layouts</a>
  <a class="block p-1" href="links">Links</a>
  <a class="block p-1" href="lists">Lists</a>
  <a class="block p-1" href="nav">Nav</a>
  <a class="block p-1" href="program-labels">Program Labels</a>
  <a class="block p-1" href="radios">Radios</a>
  <a class="block p-1" href="tables">Tables</a>
  <a class="block p-1" href="tooltips">Tooltips</a>
  <a class="block p-1" href="toggles">Toggles</a>
  <a class="block p-1" href="selects">Selects</a>
</nav>
<nav class="screen-tablet:flex-1 mb-1 px-2 screen-desktop:pl-4">
  <span class="type-h3 text-font-size-small mb-1 block screen-tablet:border-b screen-tablet:pb-2 screen-tablet:mb-1 border-color-white p-1">Components</span>
  <a class="block p-1" href="accordion">Accordion</a>
  <a class="block p-1" href="alert-box">Alert Box</a>
  <a class="block p-1" href="card">Card</a>
  <a class="block p-1" href="checklist">Checklist</a>
  <a class="block p-1" href="disclaimer">Disclaimer</a>
  <a class="block p-1" href="filter">Filter</a>
  <a class="block p-1" href="header">Header</a>
  <a class="block p-1" href="member-list">Member List</a>
  <a class="block p-1" href="nearby-stops">Nearby Stops</a>
  <a class="block p-1" href="share-form">Share Form</a>
  <a class="block p-1" href="side-nav">Side Nav</a>
  <a class="block p-1" href="question">Question</a>
</nav>
<nav class="screen-tablet:flex-1 mb-1 px-2 screen-desktop:pl-4">
  <span class="type-h3 text-font-size-small mb-1 block screen-tablet:border-b screen-tablet:pb-2 screen-tablet:mb-1 border-color-white p-1">Objects</span>
  <a class="block p-1" href="alert-banner">Alert Banner</a>
  <a class="block p-1" href="announcements">Announcements</a>
  <a class="block p-1" href="banner">Banner</a>
  <a class="block p-1" href="card-list">Card Lists</a>
  <a class="block p-1" href="come-back-later">Come Back Later</a>
  <a class="block p-1" href="content">Content</a>
  <a class="block p-1" href="emails">Emails</a>
  <a class="block p-1" href="footer">Footer</a>
  <a class="block p-1" href="formstack">Formstack</a>
  <a class="block p-1" href="mobile-nav">Mobile Nav</a>
  <a class="block p-1" href="navigation">Navigation</a>
  <a class="block p-1" href="newsletter">Newsletter</a>
  <a class="block p-1" href="search-box">Search Box</a>
  <a class="block p-1" href="text-controller">Text Controller</a>
</nav>
<nav class="screen-tablet:flex-1 mb-1 px-2 screen-desktop:pl-4">
  <a class="type-h3 text-font-size-small mb-1 block screen-tablet:border-b screen-tablet:pb-2 screen-tablet:mb-1 border-color-white p-1" href="utility">Utilities</a>
  <a class="block p-1" href="accessibility">Accessibility</a>
  <a class="block p-1" href="colors">Colors</a>
  <a class="block p-1" href="font">Fonts</a>
  <a class="block p-1" href="icons">Icons</a>
  <a class="block p-1" href="inherit">Inherit</a>
  <a class="block p-1" href="language">Language</a>
  <a class="block p-1" href="media">Media</a>
  <a class="block p-1" href="text">Text</a>
  <a class="block p-1" href="toggle">Toggle</a>
  <a class="block p-1" href="typography">Typography</a>
</nav>