/**
 * Text-controller
 */

// Dependencies
@import 'config/colors';
@import 'config/fonts';
@import 'config/direction';
@import 'config/media';
@import 'config/dimensions';
@import 'config/accessibility';

// Declarations
.o-text-controller {
  font-size: 18px; // px value freezes the font size for the controller

  .icon,
  .o-text-controller__title-full,
  .o-text-controller__title-short {
    vertical-align: middle;
  }
}

.o-text-controller__control {
  font-weight: normal;
  font-style: italic;

  &.active {
    display: none;
  }

  > * {
   pointer-events: none;
  }

  .icon {
    margin-#{$text-direction-end}: 0.3em;
  }
}

.o-text-controller__title-full {
  display: none;

  @media screen and (min-width: $screen-desktop) {
    display: inline-block;
  }
}

.o-text-controller__title-short {
  display: inline-block;

  @media screen and (min-width: $screen-desktop) {
    display: none;
  }
}

.o-text-controller__options {
  width: 100%;
}

.o-text-controller__languages .wpml-ls {
  padding: 0;
  border: none;

  ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    line-height: normal;
    margin-bottom: $spacing-base * 0.5;
    display: inline-block;
    padding: 0;

    margin-#{$text-direction-end}: $grid-base * 2;
    margin-bottom: $spacing-base / 2;

    &:first-of-type {
      margin-#{$text-direction-start}: 0;
    }

    &:last-of-type {
      margin-#{$text-direction-end}: 0;
    }
  }

  .text-start & li { // based on utilities/text/text
    margin-#{$text-direction-end}: $grid-base * 2;
    margin-#{$text-direction-start}: 0;
  }

  .text-end & li { // based on utilities/text/text
    margin-#{$text-direction-end}: 0;
    margin-#{$text-direction-start}: $grid-base * 2;
  }

  a {
    padding: 0;
    line-height: 1;
  }
}

.o-text-controller__sizer {
  display: none;

  @media screen and (min-width: $screen-desktop) {
    color: $color-grey-mid;
    display: flex;
  }

  .text-start & {
    justify-content: flex-start
  }

  .text-end & {
    justify-content: flex-end
  }
}

.o-text-controller__sizer-text {
  font-style: italic;
  margin-#{$text-direction-end}: $spacing-base / 3;
}

.o-text-controller__sizer-btn {
  color: $color-blue;
  margin-left: 0.15em;
  margin-right: 0.15em;
  font-size: inherit;

  > * {
    pointer-events: none
  }

  &:first-of-type {
    margin-#{$text-direction-start}: 0
  }

  &:last-of-type {
    margin-#{$text-direction-end}: 0
  }

  &:disabled {
    color: $color-grey-light
  }
}

// ====================================
// WPML Language Switcher Styles
// ====================================

// Hides the current language translation in the language switcher
.o-text-controller__languages .wpml-ls .wpml-ls-current-language,
.o-text-controller__languages .wpml-ls .wpml-ls-display {
  @include sr-only();
}
