/**
 * Alert-box
 */

// Dependencies
@import 'config/language';
@import 'config/alert-box';
@import 'config/colors';
@import 'config/dimensions';
@import 'config/direction';
@import 'config/layouts';
@import 'config/media';

// Declarations
.c-alert-box {
  background: $color-grey-lightest;
  padding: $spacing-base;

  @media screen and (min-width: $screen-mobile) {
    align-items: stretch;
    display: flex;
  }
}

.c-alert-box__icon {
  margin-bottom: $grid-base;

  @media screen and (min-width: $screen-mobile) {
    padding-#{$text-direction-end}: ($grid-base * 2);
    margin-bottom: 0;
  }
}

.c-alert-box__svg,
[class*='icon-'].c-alert-box__svg,
[class*='bg-icon-'].c-alert-box__svg {
  display: block;
  max-width: inherit;
}

.c-alert-box__body {
  flex: 1 1 auto;
  p:last-child {
    margin-bottom: 0
  }
}

