/**
 * Alert-box
 */

// Dependencies
@import 'config/language';
@import 'config/alert-box';
@import 'config/colors';
@import 'config/dimensions';
@import 'config/direction';
@import 'config/layouts';

// Declarations
.c-alert-box {
  display: flex;
  @include full-width-home-margins;
  background: $color-grey-lightest;
  padding: $spacing-base
}

.c-alert-box__icon {
  padding-#{$text-direction-end}: $spacing-base;
}

.c-alert-box__svg,
[class*='bg-icon-'].c-alert-box__svg {
  display: block
}

.c-alert-box__body {
  flex: 1 1 auto;
  p:last-child {
    margin-bottom: 0
  }
}

