/**
 * Search Box
 */

// Dependencies
@import 'config/colors';
@import 'config/direction';
@import 'config/dimensions';
@import 'config/fonts';
@import 'config/media';

// Declarations
.o-search-box {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  visibility: hidden;
  z-index: 8;

  &.active {
    visibility: visible;
  }
}

.o-search-box__inner {
  transition: all .2s ease-out;
  background: $color-grey-lightest;
  max-height: 0px;
  overflow: hidden;

  .active & {
    border-bottom: 3px solid $color-grey-light;
    max-height: 1000px;
    padding: $spacing-base 0;
  }
}

.o-search-box__close {
  float: $text-direction-end;
}

.o-search-box__form,
.o-search-box__suggestions {
  clear: both;
  margin: 2*$spacing-base auto;
  max-width: 800px;
}

.o-search-box__form label {
  display: block;
  margin-bottom: .5*$spacing-base;
}

.o-search-box__form-field-container {
  $search-icon-height: 24px;
  $search-icon-width: 24px;
  position: relative;

  .o-search-box__form-field {
    display: block;
    padding: $spacing-base;
    padding-#{$text-direction-end}: 2*$spacing-base + $search-icon-width;
    width: 100%;
  }
  .o-search-box__form-submit {
    width: $search-icon-width;
    height: $search-icon-height;
    #{$text-direction-end}: $spacing-base;
    line-height: $search-icon-height;
    margin: -$search-icon-height/2 0 0 0;
    padding: 0;
    position: absolute;
    top: 50%;

    .icon {
      width: $search-icon-width;
      height: $search-icon-height;
    }
  }
}

.o-search-box__suggestions-header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-base;

  h3 {
    margin-bottom: 0;
  }
}

.o-search-box__suggestions-body {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.o-search-box__suggestions-item {
  font-weight: $font-weight-bold;
  padding-#{$text-direction-end}: $spacing-base;
  margin-bottom: $spacing-base;
  width: 50%;

  @include media($bp-tablet-up) {
    width: 33.33%;
  }
}
