/**
 * Layouts
 */

// Dependencies
@import 'config/variables';
@import 'config/layouts';
@import 'config/dimensions';
@import 'scss/functions/strip-units';

// Declarations
.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $site-max-width;
  min-height: 100%;
  min-width: $site-min-width;
}

.main-content {
  flex: 1 1 auto;
  background: map-get(map-get($variables, 'colors'), 'color-white');
}

.usa-grid {
  width: 100%;
}

.home-body {
  margin: (1.5 * $spacing-base) auto;
  max-width: $homepage-max-width + ($spacing-base * 2);
  padding: 0 $spacing-base;
}

// Declarations
.layout {
  position: relative;
  height: calc(100vh - 90px);
  overflow: hidden;
}

.layout__body {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.layout__body:after {
  content: '';
  height: 100%;
  display: block;
}

@media print {

  .layout {
    height: auto;
    overflow: visible;
  }

  .layout__body {
    position: static;
  }

}

// Patterns Layout
.layout--sidebar {

  $min-width: map-get(map-get($variables, 'screens'), 'screen-tablet');

  @media (min-width: '#{$min-width}px') {

    > *:first-child {
      width: 16rem
    }

    > *:first-child + * {
      width: calc(100% - 16rem)
    }

  }

}

