/**
 * Layouts
 */

// Dependencies
@import 'config/variables';
@import 'config/layouts';
@import 'config/dimensions';
@import 'config/direction';
@import 'config/media';
@import 'scss/functions/strip-units';

// Declarations
.page-wrapper, .wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $site-max-width;
  min-height: 100%;
  min-width: $site-min-width;
}

//
// General layout for two equal columns, no gutters
//
//  .------------------.
//  |.-------..-------.|
//  ||       ||       ||
//  ||       ||       ||
//  ||       ||       ||
//  |.-------..-------.|
//  .------------------.
//
.layout--columns {
  @media (min-width: $screen-tablet) {
    display: flex;
    flex-wrap: wrap;
    > * {
      width: 50%;
    }
  }
}

//
// General layout for single column with horizontal gutters (margin bottom)
// on nested elements (the rows), except for the last row.
//
//  .-------------------.
//  |.-----------------.|
//  ||                 ||
//  |.-----------------.|
//  |                   |
//  |.-----------------.|
//  ||                 ||
//  |.-----------------.|
//  |                   |
//  |.-----------------.|
//  ||                 ||
//  |.-----------------.|
//  .-------------------.
//
.layout--gutter {
  > * {
    width: 100%;
    margin-bottom: $spacing-base;
  }

  > *:last-of-type {
    margin-bottom: 0;
  }
}

//
// General layout for two equal columns with gutter down the middle and
// horizontal gutter between rows. No gutter beneath the last row. Stacks
// elements on top of each other for screens smaller than desktop.
//
//  .-------------------.
//  |.------.  .-------.|
//  ||      |  |       ||
//  |.------.  .-------.|
//  |                   |
//  |.------.  .-------.|
//  ||      |  |       ||
//  |.------.  .-------.|
//  |                   |
//  |.------.  .-------.|
//  ||      |  |       ||
//  |.------.  .-------.|
//  .-------------------.
//
.layout--columns-gutter {
  > * {
    margin-bottom: $spacing-base;
  }

  > *:nth-last-child(1) {
    margin-bottom: 0;
  }

  @media (min-width: $screen-tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > * {
      width: calc(50% - #{$spacing-base/2});
    }

    > *:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
}

//
// Layout for single sidebar with 16rem width. No gutters. Stacks sidebar on
// top for screens smaller than desktop width.
//
//  .-------------------.
//  |.----..-----------.|
//  ||    ||           ||
//  ||    ||           ||
//  ||    ||           ||
//  |.----..-----------.|
//  .-------------------.
//
.layout--sidebar {
  @media screen and (min-width: $screen-desktop) {
    display: flex;
    align-items: stretch;

    > *:first-child {
      width: 18.5rem
    }

    > *:first-child + * {
      width: calc(100% - 18.5rem)
    }
  }
}

//
// Layout for single sidebar with 16rem width. No gutters. Stacks sidebar on
// top for screens smaller than desktop width.
//
//  .-------------------.
//  |.----..-----------.|
//  ||    ||           ||
//  ||    ||           ||
//  ||    ||           ||
//  |.----..-----------.|
//  .-------------------.
//
.layout--sidebar-small {
  @media screen and (min-width: $screen-desktop) {
    display: flex;
    align-items: stretch;

    > *:first-child {
      width: 12.5rem
    }

    > *:first-child + * {
      width: calc(100% - 12.5rem)
    }
  }
}

//
// Layout for smaller single sidebar with 12rem width. No gutters. Stacks
// sidebar on top for screens smaller than desktop width.
//
//  .-------------------.
//  |.--. .------------.|
//  ||  | |            ||
//  ||  | |            ||
//  ||  | |            ||
//  |.--. .------------.|
//  .-------------------.
//
.layout--sidebar-gutter {
  @media screen and (min-width: $screen-desktop) {
    display: flex;
    align-items: stretch;

    > *:first-child {
      width: 18.5rem;
      margin-#{$text-direction-end}: $spacing-base;
    }

    > *:first-child + * {
      width: calc(100% - 18.5rem - #{$spacing-base})
    }
  }
}

//
// Layout for smaller single sidebar with 12rem width. No gutters. Stacks
// sidebar on top for screens smaller than desktop width.
//
//  .-------------------.
//  |.--. .------------.|
//  ||  | |            ||
//  ||  | |            ||
//  ||  | |            ||
//  |.--. .------------.|
//  .-------------------.
//
.layout--sidebar-small-gutter {
  @media screen and (min-width: $screen-desktop) {
    display: flex;
    align-items: stretch;

    > *:first-child {
      width: 12.5rem;
      margin-#{$text-direction-end}: $spacing-base;
    }

    > *:first-child + * {
      width: calc(100% - 12.5rem - #{$spacing-base})
    }
  }
}

//
// Layout for the home body which is a smaller centered column.
//
//  .------------------.
//  |    .--------.    |
//  |    |        |    |
//  |    |        |    |
//  |    |        |    |
//  |    |        |    |
//  |    .--------.    |
//  .------------------.
//
.layout--home-body {
  margin: (1.5 * $spacing-base) auto;
  max-width: $homepage-max-width + ($spacing-base * 2);
}

//
// Fixed topbar layout for tablets or other mobile devices (Field Screener).
// The main content overflow scrolls while the topbar remains at the top of
// the page. For print, the main content overflow is fully visible.
//
//  .------------------.
//  |.----------------.|
//  ||                ||
//  |.----------------.|
//  |.----------------.|
//  ||                ||
//  ||                ||
//  ||                ||
//  ||                ||
//  |.----------------.|
//  .------------------.
//
.layout--topbar {
  position: relative;
  height: calc(100vh - 90px);
  overflow: hidden;
}

.layout--topbar__body {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.layout--topbar__body:after {
  content: '';
  height: 100%;
  display: block;
}

@mixin layout-print {
  .page-wrapper {
    display: block
  }

  .layout--topbar {
    height: auto;
    overflow: visible
  }

  .layout--topbar__body {
    position: static
  }
}

.print-view {
  @include layout-print
}

@media print {
  @include layout-print
}
