//
// Variables
//

// Dependencies
// @import '...';

// Declarations
$spacing-base: map-get(map-get($variables, 'dimensions'), 'spacing-base') + 0px;
$homepage-max-width: map-get(map-get($variables, 'dimensions'), 'homepage-max-width') + 0px;
$site-max-width: map-get(map-get($variables, 'dimensions'), 'site-max-width') + 0px;
$site-margins: map-get(map-get($variables, 'dimensions'), 'site-margins') + 0px;
$site-margins-mobile: map-get(map-get($variables, 'dimensions'), 'site-margins-mobile') + 0px;
$site-min-width: map-get(map-get($variables, 'dimensions'), 'site-min-width') + 0px;