/**
 * Disclaimer
 */

// Dependencies
@import 'config/disclaimer';
@import 'config/fonts';
@import 'config/typography';
@import 'config/direction';

// Declarations
.c-disclaimer {
  @include disclaimer;
}

.c-disclaimer__icon {
  width: 24px !important;
  height: 24px !important
}

.c-disclaimer__icon--pre {
  float: #{$text-direction-start};
  margin-#{$text-direction-end}: 7px;
  position: relative;
  bottom: -3px
}

.c-disclaimer-instruction {
  @include typography-supplemental();
  font-size: $font-size-small;
}

.c-disclaimer-acknowledgment {
  margin-bottom: 20px;
}