/**
 * Language
 */

// Dependencies
@import 'config/language';
@import 'config/variables.scss';

// Declarations
@each $lang in map-get($variables, 'rtlLanguages') {
  :lang(#{$lang}) {
    direction: rtl;
  }
}

.font-serif {
  @if $language == '' {
    font-family: map-get(map-get($variables, 'fonts'), 'default-serif');
  } @else {
    font-family: map-get(map-get($variables, 'fonts'), '#{$language}-serif');
  }
}

.font-sans {
  @if $language == '' {
    font-family: map-get(map-get($variables, 'fonts'), 'default-sans');
  } @else {
    font-family: map-get(map-get($variables, 'fonts'), '#{$language}-sans');
  }
}

.text-align-start {
  text-align: $text-direction-start
}

.text-align-end {
  text-align: $text-direction-end
}


