/**
 * Statuses
 */

// Dependencies
@import 'config/colors';

// Declarations
.bg-status-success {
  background-color: $color-green-light;
}

.bg-status-info {
  background-color: $color-blue-light;
}

.bg-status-warning {
  background-color: $color-yellow-light;
}

.bg-status-urgent {
  background-color: $color-pink-light;
}