/**
 * Toggles
 * Reusable classes for hidden/active elements utilized by components that are
 * toggled with the Utility.simpleToggle javascript function.
 */

// Dependencies
@import 'config/variables';

$animate: map-get($variables, 'animate');

// Declarations
[data-css-text]:before {
  content: attr(data-css-text)
}

.active > [data-css-active-text]:before {
  content: attr(data-css-active-text)
}

// .active__shown {
//   display: none
// }

// .active > .active__shown {
//   display: inherit !important
// }

// .active > .active__hidden {
//   content: attr(data-css-text)
// }

.hidden\:overflow {
  // display: inherit !important;
  max-height: 0;
  overflow: hidden;
}

// .hidden.hidden\:overflow {
//   max-height: 0;
// }

.active.hidden\:overflow {
  max-height: inherit;
}

.animated.hidden\:overflow {
  transition-property: max-height;
}

.animated.hidden\:overflow {
  transition-duration: 0.5s;
  transition-timing-function: map-get($animate, 'ease-out-quint');
}

.animated.active.hidden\:overflow {
  max-height: 10000px;
  transition-duration: 0.75s;
  transition-timing-function: map-get($animate, 'ease-in-quint');
}

@mixin toggles-print {
  .print\:active {
    display: inherit !important;
  }

  .print\:active.hidden\:overflow {
    max-height: inherit !important;
    overflow: visible !important;
  }
}

.print-view {
  @include toggles-print
}

@media print {
  @include toggles-print
}