/**
 * Share Form
 */

// Dependencies
@import 'config/colors';
@import 'config/dimensions';
@import 'config/fonts';
@import 'config/direction';
@import 'config/media';

// Declarations
.c-share-form { }

.c-share-form__form {
  display: flex;
  flex-direction: column-reverse;
}

.c-share-form__toggle {
  display: block;
  width: 100%;

  &.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: $color-blue-dark;
    margin-bottom: -1px;
    position: relative;
    z-index: 1;
  }
}

.c-share-form__form {
  // .program-detail-status-buttons & {
  //   margin-bottom: $spacing-base;
  // }

  .error-message {
    display: none;

    color: $color-red;
    font-size: $font-size-small;
    margin-top: (.5 * $spacing-base);
    width: 100%;
  }

  &.active {
    margin-bottom: $spacing-base
  }
}

.c-share-form__form.error {
  .error-message {
    display: block
  }
}

.c-share-form__fieldset {
  align-items: center;
  display: flex;
  background: $color-white;
  border: 1px solid $color-grey-mid;
  padding-right: 5px;

  .error & {
    border-color: $color-red
  }

  .success & {
    border-color: $color-green-mid
  }
}

.c-share-form__input {
  flex-grow: 1;
  border: none;
  min-width: 0px;
  width: 100%;
  text-overflow: ellipsis;
  padding-#{$text-direction-end}: 0;

  input {
    border: none;
    width: 100%;
  }
}

.c-share-form__button {
  display: flex;
  align-items: center;
  position: relative;
  flex-shrink: 0;

  [class*='btn-'] {
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    font-size: 70%;
  }

  // Triangle
  &::after {
    position: absolute;
    top: -10px;
    right: calc(50% - #{$spacing-base / 2});
    bottom: (-1.28 * -$spacing-base);

    border-left: ($spacing-base / 2) solid transparent;
    border-right: ($spacing-base / 2) solid transparent;
    border-top: (.3 * $spacing-base) solid $color-blue-dark;

    content: '';
    display: block;
    z-index: 0;
  }

  .processing & {
    button {
      opacity: 0;
      pointer-events: none
    }
  }

  .success & {
    button {
      display: none
    }

    &::after {
      display: none
    }
  }
}

.c-share-form__success {
  display: none;
  color: $color-green-mid;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;

  .success & {
    display: block;
    padding: (.75 * $spacing-base);
  }
}

.c-share-form__spinner {
  display: none;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 50%;
  margin-left: -16px;
  top: 50%;
  margin-top: -16px;

  pointer-events: none;

  .processing & {
    display: flex
  }
}
