/**
 * Icons
 */

// Dependencies
@import 'config/variables';
@import 'scss/functions/str-replace';
@import 'bourbon/app/assets/stylesheets/addons/size';

// Declarations
[class*='icon-'] {
  display: inline-block;
  svg {
    fill: currentColor
  }
}

@each $key, $var in map-get($variables, 'icons') {

  $path: $key;
  $path: str-replace($path, '--large');
  $path: str-replace($path, '--small');

  .#{$key} {
    @include size($var);
    background-image: url('../svg/#{$path}.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
