/**
 * Icons
 */

// Dependencies
@import 'config/variables';
@import 'scss/functions/str-replace';
@import 'bourbon/app/assets/stylesheets/addons/size';

// Declarations
[class*='icon-'] {
  overflow: visible !important;
}

[class*='bg-icon-'] {
  display: inline-block;
}

@each $key, $var in map-get($variables, 'icons') {

  $path: $key;
  $cdn: map-get($variables, 'cdn');

  @each $str in map-get($variables, 'iconVariants') {
    $path: str-replace($path, $str);
  }

  .bg-#{$key} {
    @include size($var);
    background-image: url('#{$cdn}/svg/#{$path}.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center
  }

  .#{$key} {
    @include size($var);
  }

}
