@import 'config/tokens';
@import 'config/cdn';

@each $key, $var in map-get($tokens, 'icons-checklist') {
  $size: map-get($tokens, 'icons-checklist-size');

  .bg-#{$key} {
    @include size($size);
    background-image: url('#{$cdn}#{$path-to-images}#{$var}');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center
  }

  .#{$key} {
    @include size($size);
  }
}