/**
 * Navigation
 */

// Dependencies
@import 'config/colors';
@import 'config/direction';
@import 'config/dimensions';
@import 'config/fonts';
@import 'config/media';
@import 'config/typography';

// Declarations
.o-navigation {
  align-items: center;
  display: flex;
  background: $color-blue-dark;
  color: $color-white;
  padding: (.5 * $spacing-base) $spacing-base;

  .logo-access {
    a {
      color: $color-white;
    }
    .icon-logo-full {
      width: 135px;
      height: 23px;
      display: block;

      @include media($bp-desktop-up) {
        .home & {
          width: 270px;
          height: 45px;
        }
      }
    }
  }

  .nav-inline {
    display: none;
    @include media($bp-desktop-up) {
      display: block;
    }
  }
}

.o-navigation__toggle,
.o-navigation__search-toggle {
  @include typography-nav();
  margin-#{$text-direction-start}: 1em;

  a {
    color: $color-white;
    text-decoration: none;
  }

  svg {
    fill: currentColor;
  }

  .icon {
    margin-#{$text-direction-end}: .3em;
  }
}

.o-navigation__toggle {
  flex: 1 1 auto;
  text-align: $text-direction-end;
  @include media($bp-desktop-up) {
    display: none;
  }
}
