/**
 * Navigation
 */

// Dependencies
// @import 'config/variables';

// Declarations
// .o-navigation { }
.site-nav {
  align-items: center;
  display: flex;
  background: $color-blue-dark;
  color: $color-white;
  padding: (.5 * $spacing-base) $spacing-base;

  .logo-access {
    a {
      color: $color-white;
    }

    .icon-logo-full {
      @include size(135px 23px);
      display: block;

      @include media($bp-desktop-up) {
        .home & {
          @include size(270px 45px);
        }
      }
    }
  }

  .nav-list {
    @include typography-nav();
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .site-desktop-nav {
    flex: 1 1 auto;
    display: none;
    text-align: $text-direction-end;

    @include media($bp-desktop-up) {
      display: block;
    }

    li {
      display: inline-block;
      margin-#{$text-direction-start}: 1em;
    }
  }
}

.site-desktop-nav {
  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $color-white;
    }
  }
}

.site-nav-toggle,
.site-search-toggle {
  @include typography-nav();
  margin-#{$text-direction-start}: 1em;

  a {
    color: $color-white;
    text-decoration: none;
  }

  svg {
    fill: currentColor;
  }

  .icon {
    margin-#{$text-direction-end}: .3em;
  }
}

.site-nav-toggle {
  flex: 1 1 auto;
  text-align: $text-direction-end;

  @include media($bp-desktop-up) {
    display: none;
  }
}

.site-mobile-nav {
  transform: translateX(0);
  transition: transform .2s ease-in;
  @if $text-direction == 'rtl' {
    // @include position(fixed, 0 null 0 -300px);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding: $spacing-base $spacing-base $spacing-base 0;
  } @else {
    // @include position(fixed, 0 -300px 0 null);
    position: fixed;
    top: 0;
    left: 0;
    padding: $spacing-base 0 $spacing-base $spacing-base;
  }
  background: $color-grey-lightest;
  color: $color-grey-dark;
  display: block;
  width: 300px;
  z-index: 10;

  @include media($bp-desktop-up) {
    display: none;
  }

  a {
    &.site-nav-close {
      color: $color-blue-dark;
      margin-#{$text-direction-end}: $spacing-base;
      margin-bottom: $spacing-base;
      text-decoration: none;

      .icon {
        margin-#{$text-direction-start}: .3em;
        vertical-align: middle;
      }
    }
  }

  .nav-active & {
    @if $text-direction == 'rtl' {
      transform: translateX(100%)
    } @else {
      transform: translateX(-100%)
    }
  }

  .nav-list {
    li {
      border-bottom: 1px solid $color-grey-dark;
      padding: $spacing-base 0;
    }
  }

  .site-search-toggle {
    border-bottom: 1px solid $color-grey-dark;
    margin-left: 0;
    padding: $spacing-base 0;

    a {
      color: $color-blue;
      text-decoration: underline;

      svg {
        text-decoration: none;
      }

      &:hover,
      &:active,
      &:focus {
        color: $color-blue-dark;
      }
    }
  }
}

.nav-list {
  .active {
    font-weight: $font-weight-bold;
  }
}

.nav-active {
  overflow: hidden;

  &::before {
    // @include position(absolute, 0 0 0 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-black;
    content: '';
    display: block;
    opacity: .6;
    z-index: 9;

    @include media($bp-desktop-up) {
      display: none;
    }
  }
}

.site-mobile-nav-inner {
  @if $text-direction == 'rtl' {
    padding: $spacing-base 0 2*$spacing-base $spacing-base;
  } @else {
    padding: $spacing-base $spacing-base 2*$spacing-base 0;
  }
  height: 100%;
  overflow-y: scroll;

  .site-mobile-nav-header {
    margin-bottom: 0;
  }
}

.site-nav-close {
  @include typography-nav();
  display: block;
  font-style: italic;
  text-align: $text-direction-end;

  @include media($bp-desktop-up) {
    display: none;
  }
}