/**
 * Share Links
 */

// Dependencies
@import 'config/direction';
@import 'config/dimensions';
@import 'config/typography';
@import 'config/fonts';

// Declarations
.c-share, .c-share__section {
  @include typography-nav();

  @media screen and (min-width: $screen-tablet) {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}

.c-share__link {
  display: inline-flex;
  align-items: center;
  margin-#{$text-direction-end}: $grid-base * 2;
  margin-bottom: $grid-base * 2;

  @media screen and (min-width: $screen-tablet) {
    margin-bottom: $grid-base * 3;
  }
}

.c-share__icon {
  width: $grid-base * 2;
  height: $grid-base * 2;
  margin-#{$text-direction-end}: $grid-base;

  @media screen and (min-width: $screen-tablet) {
    width: $grid-base * 3;
    height: $grid-base * 3;
  }
}

.c-share__input {
  font-size: $font-size-small;
  text-overflow: ellipsis;
  padding: $grid-base;
  width: 100%;
  max-width: 100%;
  margin-bottom: $grid-base * 2;

  @media screen and (min-width: $screen-tablet) {
    width: 275px;
    padding: $grid-base * 1.5;
    margin-bottom: $grid-base * 3;
  }
}

.c-share__heading {
  display: block;
  margin-top: $grid-base;
  margin-bottom: $grid-base;

  @media screen and (min-width: $screen-tablet) {
    margin-bottom: $grid-base * 3;
  }
}