/**
 * Lists
 */

// Dependencies
// @import 'config/variables';

// Declarations
.list-inline-comma {
  margin: 0;
  padding: 0;
  display: inline-block;

  > li {
    display: inline;
    &::after {
      content: ', '
    }
    &:last-of-type::after {
      content: none
    }
  }
}

.list-inline-semicolon {
  margin: 0;
  padding: 0;
  display: inline-block;

  > li {
    display: inline;
    &::after {
      content: '; '
    }
    &:last-of-type::after {
      content: none
    }
  }
}