/**
 * Base
 */

// Dependencies
@import 'config/';
@import 'canyc/colors';

// Declarations
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  background-color: $color-grey-lightest;
  height: auto;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

// for IE < 11, see:
// <http://caniuse.com/#feat=hidden>
[hidden] {
  // scss-lint:disable ImportantRule
  display: none !important;
}

// Fix for IE <= 11 where use elements within svgs would swallow click events
// and prevent the event from propagating up.
// See: https://connect.microsoft.com/IE/feedback/details/796745/mouse-events-are
// -not-delivered-at-all-anymore-when-inside-an-svg-a-use-is-removed-from-the-dom
use {
  pointer-events: none;
}

// Tailwind.css requires this border setting for it's borders to work properly
[class*='border'] {
  border-style: solid;
  border-width: 0
}

img {
  max-width: 100%;
  height: auto
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

figure, figcaption {
  margin: 0;
  display: block
}

@mixin base-print {
  html, body {
    overflow: visible !important;
  }

  * {
    -webkit-print-color-adjust: exact;
  }
}

.print-view {
  @include base-print
}

@media print {
  @include base-print
}
