//
// Mixins
//

// Dependencies
@import 'config/variables';

// Declarations
@mixin animate($animation: none, $speed: map-get(map-get($variables, 'animate'), 'animate-scss-speed')) {
  @if $animation != none {
    animation-name: $animation;
  }
  animation-duration: $speed;
  animation-fill-mode: both;
  animation-timing-function: map-get(map-get($variables, 'animate'), 'animate-timing-function');
}

@mixin transition() {
  transition-property: opacity, background, color, border, box-shadow, transform, stroke, stroke-dashoffset, fill;
  transition-duration: 0.25s;
  backface-visibility: hidden;
}