//
// Variables
//

// Dependencies
// @import '...';

// Variables
$spacing-base: map-get(map-get($variables, 'dimensions'), 'spacing-base');
$homepage-max-width: map-get(map-get($variables, 'dimensions'), 'homepage-max-width');
$site-max-width: map-get(map-get($variables, 'dimensions'), 'site-max-width');
$site-margins: map-get(map-get($variables, 'dimensions'), 'site-margins');
$site-margins-mobile: map-get(map-get($variables, 'dimensions'), 'site-margins-mobile');
$site-min-width: map-get(map-get($variables, 'dimensions'), 'site-min-width');