@import 'config/colors';
@import 'config/fonts';
@import 'config/typography';

@mixin disclaimer() {
  font-size: $font-size-small;
  background: $color-grey-lightest;
  border: 1px solid $color-grey-light;
  padding: 24px;

  > p:last-child {
    margin-bottom: 0;
  }

  small {
    @include typography-dislaimer-small();
    margin: 0;
    display: inline-block;
  }
}