//
// Grid
//

// Dependencies

// Declarations
$grid-columns: 12;
$visual-grid-breakpoints: ();

// Grid column counts by screen size
$grid-columns-small: 1;
$grid-columns-medium: 6;
$grid-columns-large: 12;