//
// Mixins
//

// Dependencies
@import 'config/variables';
@import 'config/fonts';
@import 'config/media';
@import 'bourbon-neat/app/assets/stylesheets/grid/media';

// Declarations
@mixin typography-jumbo() {
  font-weight: $font-weight-normal;
  font-size: #{$font-size-largest};
  line-height: 1.3;
  font-family: $font-family-serif;
  @include media($bp-tablet-up) {
    font-size: $font-size-jumbo
  }
}

@mixin typography-h1() {
  // color: map-get(map-get($variables, 'colors'), 'color-blue-dark');
  font-weight: $font-weight-normal;
  font-size: #{$font-size-larger};
  line-height: 1.3;
  font-family: $font-family-serif;
  @include media($bp-tablet-up) {
    font-size: $font-size-largest
  }
}

@mixin typography-h2() {
  font-weight: $font-weight-bold;
  font-size: #{$font-size-larger};
  line-height: 1.3;
  font-family: $font-family-serif
}

@mixin typography-h3() {
  // color: map-get(map-get($variables, 'colors'), 'color-blue-dark');
  font-weight: $font-weight-bold;
  font-size: #{$font-size-large};
  line-height: 1.3;
  font-family: $font-family-serif
}

@mixin typography-h4() {
  font-weight: $font-weight-bold;
  font-size: #{$font-size-medium};
  line-height: 1.3;
  font-family: $font-family-sans
}

@mixin typography-h5() {
  // color: map-get(map-get($variables, 'colors'), 'color-grey-mid');
  font-weight: $font-weight-normal;
  font-size: #{$font-size-base};
  line-height: 1.3;
  font-family: $font-family-sans
}

@mixin typography-exposition() {
  font-size: #{$font-size-base};
  line-height: 1.3;
  font-family: $font-family-serif;
  @include media($bp-tablet-up) {
    font-size: $font-size-larger
  }
}

@mixin typography-base() {
  // color: map-get(map-get($variables, 'colors'), 'color-black');
  font-size: #{$font-size-base};
  line-height: 1.4;
  font-family: $font-family-sans
}

@mixin typography-supplemental() {
  // color: map-get(map-get($variables, 'colors'), 'color-grey-mid');
  font-weight: $font-weight-normal;
  font-size: #{$font-size-base};
  line-height: 1.3;
  font-family: $font-family-sans;
}

@mixin typography-nav() {
  font-weight: $font-weight-normal;
  font-size: #{$font-size-small};
  line-height: 1.3;
  font-family: $font-family-sans;
  @include media($bp-tablet-up) {
    font-size: $font-size-base
  }
}

@mixin typography-blockquote() {
  // color: map-get(map-get($variables, 'colors'), 'color-black');
  font: #{$font-size-large};
  line-height: 1.3;
  font-family: $font-family-serif
}

@mixin typography-program-subheading() {
  // color: map-get(map-get($variables, 'colors'), 'color-grey-mid');
  font-weight: $font-weight-normal;
  font-size: #{$font-size-small};
  line-height: 1.3;
  font-family: $font-family-sans
}

@mixin typography-dislaimer-small() {
  font-size: $font-size-xsmall;
  line-height: 1.4;
}
