/**
 * Checkboxes
 */

// Dependencies
@import 'config/variables';
@import 'config/options';
@import 'config/checkboxes';
@import 'config/direction';
@import 'config/dimensions';
@import 'config/accessibility';

// Declarations
.checkbox {
  @include options;

  &:last-of-type {
    margin-bottom: 0
  }

  > input {
    @include sr-only()
  }
}

.checkbox__label {
  @include options-labels;
}

.checkbox__label::before {
  @include checkboxes-btn;
}

input:checked + .checkbox__label::before {
  @include checkboxes-btn-checked;
}

input:focus + .checkbox__label::before {
  @include checkboxes-btn-focused;
}

.checkbox__icon {
  margin-bottom: 0;
  margin-#{$text-direction-end}: .5 * $spacing-base;
}
