/**
 * Header
 */

// Dependencies
@import 'config/dimensions';
@import 'config/direction';
@import 'config/media';
@import 'config/typography';

// Declarations
.c-header {
  padding: ($spacing-base / 3) * 2;

  @media screen and (min-width: $screen-mobile) {
    align-items: flex-start;
    display: flex;
  }

  @media screen and (min-width: $screen-tablet) {
    padding: $spacing-base;
  }
}

.c-header__icon {
  $icon-height: $spacing-base * 2;
  $icon-width: $spacing-base * 2;

  margin-bottom: $spacing-base / 3;

  .icon {
    width: $icon-width;
    height: $icon-height;
    display: inline-block;
    vertical-align: middle;
  }

  @media screen and (min-width: $screen-mobile) {
    margin-#{$text-direction-end}: $spacing-base * 0.6666;
    min-width: $icon-width; // Fixes an iOS 9 flexbox bug.
    width: $icon-width;

    .c-header__label {
      display: none;
    }
  }
}

.c-header__descriptor {
  @include typography-h1();

  margin-top: 2px;
  margin-bottom: 2px;

  @media screen and (min-width: $screen-tablet) {
    margin-top: -2px;
  }
}

.c-header__information {
  @include typography-supplemental();
  margin-bottom: 0;
}

.c-header__disclaimer {
  font-size: $font-size-small;
  margin-bottom: 0;
}