/**
 * Alert-Banner
 */

// Dependencies
@import 'config/language';
@import 'config/colors';
@import 'config/dimensions';
@import 'config/direction';
@import 'config/layouts';
@import 'config/media';

.c-alert-banner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.c-alert-banner {
  background: $color-grey-lightest;
  padding: $spacing-base;
  left: 0;
  bottom: 0;

  @media screen and (min-width: $screen-mobile) {
    align-items: stretch;
    display: flex;
  }
}

.c-alert-banner__icon {
  margin-bottom: $grid-base;

  @media screen and (min-width: $screen-mobile) {
    padding-#{$text-direction-end}: ($grid-base * 2);
    margin-bottom: 0;
  }
}

.c-alert-banner__svg,
[class*='icon-'].c-alert-banner__svg,
[class*='bg-icon-'].c-alert-banner__svg {
  display: block;
  max-width: inherit;
}

.c-alert-banner__body {
  flex: 1 1 auto;

  p:last-child {
    margin-bottom: 0
  }
}

.c-alert-banner__closing button {
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  text-align: right;
  padding: 0;
}

/* Styles for small screen sizes */
@media screen and (max-width: $screen-mobile) {
  .c-alert-banner {
    max-height: 250px;
    overflow: scroll;
  }

  .c-alert-banner__icon {
    padding-right: 10px;
  }
}
