/**
 * Overlay
 */

// Dependencies
@import 'canyc/colors';
@import 'canyc/media';

// Declarations
.overlay {
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-black;
    content: '';
    opacity: .6;
    z-index: 9;

    display: none;

    @media screen and (min-width: $screen-desktop) {
      display: none;
    }
  }

  &.active {
    &::before {
      display: block;

      @media screen and (min-width: $screen-desktop) {
        display: none;
      }
    }
  }
}
