<!DOCTYPE html>
<html class="text-size-0" lang="en">

<body onload="load()" style="visibility: hidden;">
  <main class="min-h-screen bg-color-white" id="demo-content"></main>
  <footer class="py-4 text-center bg-color-blue-dark text-color-white links-invert">
    <footer class="py-4 text-center color-dark-background">
      <p>
        <nav>
          <a class="px-1" href="index">Home</a>
          <a class="px-1" href="about">About</a>
          <a class="px-1" href="installation">Installation</a>
          <a class="px-1" href="design-tools">Design Tools</a>
          <a class="px-1" href="developer-tools">Developer Tools</a>
        </nav>
      </p>
      <p>Maintained by&nbsp;<a href="https://nyc.gov/opportunity">NYC Opportunity</a>
      </p>
      <p class="m-0">
        <nav>
          <a class="px-1" href="https://github.com/orgs/CityOfNewYork/teams/nycopportunity">GitHub</a>
          <a class="px-1" href="https://twitter.com/nycopportunity">Twitter</a>
          <a class="px-1" href="https://www.facebook.com/NYCOpportunity">Facebook</a>
          <a class="px-1" href="https://www.instagram.com/nycopportunity">Instagram</a>
        </nav>
      </p>
    </footer>
  </footer>
  <script src="../scripts/polyfills.js"></script>
  <script src="../scripts/access-nyc.js"></script>
  <script type="text/javascript">
    var access = new AccessNyc();
    access.icons('../icons.svg');
    access.toggle();
  </script>
</body>

</html>