/**
 * Footer
 */

// Dependencies
@import 'config/colors';
@import 'config/dimensions';
@import 'config/media';
@import 'config/direction';
@import 'config/typography';
@import 'bourbon/app/assets/stylesheets/addons/clearfix';

// Declarations
.o-footer {
  padding: 2*$spacing-base 0;
  border-top: 3px solid $color-blue-dark;

  .o-footer__nav-list {
    @include typography-nav();
    // @include clearfix();
    // display: block;
    list-style: none;
    margin: 0 0 $spacing-base;
    padding: 0;

    .type-h3 {
      margin-bottom: $spacing-base;
    }

    ul {
      list-style: none;
      margin: 0 0 (2*$spacing-base);
      padding: 0;

      > li {
        margin-bottom: $spacing-base;
      }
    }

    //   margin: 0 0 2*$spacing-base;
    //   padding: 0;

    //   > li {
    //     margin-bottom: $spacing-base;
    //   }
    // }

    // > li {
    //   width: 100%;
    //   float: $text-direction-start;
    //   padding: 0 $spacing-base;

    //   // @include media($bp-tablet-up) {
    //   @media screen and (min-width: $screen-tablet) {
    //     width: 50%;

    //     &:last-child {
    //       width: 100%;
    //     }
    //   }

    //   // @include media($bp-desktop-up) {
    //   @media screen and (min-width: $screen-desktop) {
    //     width: 29%;

    //     &:last-child {
    //       width: 42%;
    //     }
    //   }
    // }
  }

  .o-footer__copyright {
    margin: 0 $spacing-base;
  }
}

@media screen and (min-width: $screen-desktop) {
  .o-footer__column-first {
    width: 20%;
  }

  .o-footer__column-middle {
    width: 20%;
  }

  .o-footer__column-last {
    width: 40%;
  }
}

@media screen and (min-width: $screen-tablet) and (max-width: $screen-desktop) {
  .o-footer__column-first {
    width: 40%;
  }

  .o-footer__column-middle {
    width: 60%;
  }

  .o-footer__column-last {
    width: 100%;
  }
}

.o-footer__copyright {
  align-items: stretch;
  @include clearfix();
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: $color-grey-dark;
  font-size: 12px; // TODO(jjandoc): Variable?

  .icon-logo-nyc {
    width: 90px;
    height: 30px;
    float: $text-direction-start;
    margin-#{$text-direction-end}: .5*$spacing-base;
  }
}
