/**
 * Tables
 */

// Dependencies
@import 'config/media';
@import 'config/dimensions';
@import 'config/fonts';
@import 'config/direction';
@import 'config/colors';

// Declarations
@mixin table($alignment: $text-direction-end) {
  font-size: $font-size-small;
  margin-bottom: $spacing-base;
  width: 100%;
  max-width: 100%;
  text-align: $alignment;

  @media screen and (min-width: $screen-tablet) {
    font-size: inherit;
  }

  thead {
    border-bottom: 1px solid $color-grey-dark;
    color: $color-blue;

    tr {
      background-color: none;
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $color-grey-lightest
      }
    }
  }

  th {
    vertical-align: top;
  }

  th, td {
    padding: ($spacing-base * .5) 4%
  }
}

.table table {
  @include table
}

.table-align-start table {
  @include table($text-direction-start)
}

.table-align-end table {
  @include table($text-direction-end)
}