/**
 * Forms
 */

// Dependencies
@import '../core/dimensions.vars';
@import '../core/media.vars';
@import '../functions/strip-units';
@import 'bourbon-neat/app/assets/stylesheets/grid/media';

$helvetica: '';
$georgia: '';

$font-sans: 'Source Sans Pro', $helvetica;
$font-serif: 'Merriweather', $georgia;

$h5-font-size: rem(15px, $em-base);

$image-path: '../img';

@import 'uswds/src/stylesheets/components/forms';

// Declarations
