/************
 * Utilities
 ************/

@import 'utilities/tailwindcss/tailwindcss';
@import 'utilities/animate/animate';
@import 'utilities/color/color';
@import 'utilities/clearfix/clearfix';
@import 'utilities/font/font';
@import 'utilities/inherit/inherit';
@import 'utilities/language/language';
@import 'utilities/margin/margin';
@import 'utilities/media/media-print';
@import 'utilities/padding/padding';
@import 'utilities/screen-reader/screen-reader';
@import 'utilities/statuses/statuses';
@import 'utilities/text/text';
@import 'utilities/toggle/toggle';
@import 'utilities/typography/typography';
// utilities - end